<!doctype html>
<head>
<title>Submit Announcement - {{ org_name }}</title>

<link rel="stylesheet" type="html/css" href="{{url_for('static', filename='style.css')}}" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type=text/javascript src="{{url_for('static', filename='datetimepicker_css.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='validate.js')}}"></script>
</head>
<body>
<h2>Submit an announcement to the events calendar of {{ org_name }}</h2>
<div id="content">
<form class="form" id="jform" name="eventform" action="" method="post">
	<fieldset>
		<legend>Announcement Info</legend>
		<p>
			<label for="announcement_type">Type:</label>
			<input type="radio" name="announcement_type" checked="checked" id="event_announcement" /> Event
			<input type="radio" name="announcement_type" id="submission_deadline" /> Submission Deadline
		</p>
		<p>
			<label for="headline">Headline:</label>
			<input type="text" name="headline" class="headline" id="headline" required="true" />
		</p>
		<p>
			<label for="website">Link:</label>
			<input type="text" name="website" class="website" id="website" />
		</p>
		<p>
			<label for="details">Description:</label>
			<textarea name="details" class="details" id="details"></textarea>
		</p>
		<p id="location_section">
			<label for="location">Location:</label>
			<input type="text" name="location" class="location" id="location" />
		</p>
		<p>
			<label for="starts" id="starts_label">Starts:</label>
			<input type="text" name="starts" class="starts datepicker" id="starts" maxlength="25" size="25" />
			<img src="{{url_for('static', filename='images/cal.gif')}}" onclick="javascript:NewCssCal ('starts','MMddyyyy','arrow',true,'12')" style="cursor:pointer" id="starts_cal" />
		</p>
	</fieldset>
	<fieldset>
		<legend>Your Info</legend>
		<p>
			<label for="fullname">Full Name:</label>
			<input type="text" name="fullname" class="fullname" id="fullname" />
		</p>
		<p>
			<label for="email">Email:</label>
			<input type="text" name="email" class="email" id="email" />
		</p>
	</fieldset>
	<p>
		<button type="submit" id="send">submit</button>
	</p>
</form>
</div>
</body>